body {
  background-color:       #F6F6F6;

  font-family:            Verdana,
                          Helvetica,
                          Arial,
                          serif-sans;
  font-size:              10pt;
}

div#bar {
  position:               absolute;
  top:                    0;
  left:                   0;
  right:                  0;
  
  border-bottom:          1px #999999 solid;
  background-color:       #FFFFFF;
}

div#bar h1 {
  float:                  left;
  
  color:                  #555555;
  
  font-weight:            bold;
  font-size:              10pt;

  padding-left:           10px;
  padding-top:            5px;
}

div#bar h1 a {
  text-decoration:        none;
  
  color:                  #555599;
}

div#menu {
  float:                  right;

  padding:                10px 5px;

  text-align:             right;
}

button,
a.button {
  font-weight:            bold;

  color:                  #555555;
  background-color:       #F6F6F6;

  text-decoration:        none;

  border:                 1px #999999 solid;

  padding:                3px;

  white-space:            nowrap;
  
  display:                inline-block;
}

button:hover,
a.button:hover {
  color:                  #F6F6F6;
  background-color:       #999999;
  
  border:                 1px #555555 solid;
}

div#main {
  border:                 1px #000000 solid;
  background-color:       #FFFFFF;

  margin-top:             120px;
  margin-left:			  10px;
  margin-right:			  10px;
  
}


table#events {
  width:                  100%;
  border-collapse:        collapse;
  
  font-size:              10pt;
}

table#events th {
  background-color:       #F6F6F6;
  border-top:             1px #999999 solid;
  border-bottom:          1px #999999 solid;
  height: 2em;
}

table#events tr:hover {
	  background-color:       #eee;
}

table#events td {
  border-bottom:          1px #999999 dashed;
  padding: 1px 8px;
}

table#events td.color_debug {
	background: #ddd;
}
table#events td.color_info {
	background: #cfc;
}
table#events td.color_notice {
	background: #9f9;
}
table#events td.color_warning {
	background: #ff9;
}
table#events td.color_err {
	background: #fcc;
}
table#events td.color_crit {
	background: #f99;
}
table#events td.color_emerge {
	background: #f66;
}
table#events td.color_alert {
	background: #f33;
}

table#events td a {
	color: #000;
  	text-decoration: none;
}
table#events td a:hover {
  	color: #39b;
}
table#events td#noresults {
  	line-height: 50px;
  	text-align: center;
}
table#events td#pagenav {
	text-align: center;
	padding: 20px 1px 5px 1px;
	border-bottom: 0px;	
}

table#events td#pagenav span.arrow {
	font-size: 1.5em;
}

table#events input[type="text"] {
	width: 96%;
	margin: 0px auto;
}




/*
 * tooltip event layout
 */
#tooltip_event td {
	vertical-align: top;
	clear: both;
}
#tooltip_event td span#text {
	display: none;
}
#tooltip_event td span#image {
	background-image: url('/static/img/google.png');
	width: 16px;
	height: 16px;
	display: block;
	float: right;
}
#tooltip_event td span#image:hover {
	background-image: url('/static/img/google_hover.png');
	width: 16px;
	height: 16px;
}