/*
 *	main content area
 */
body {
	background:				#f6f6f6;
}
div#main {
	margin-top:             50px;
}

h2 {
	padding:				0 0 20px 0;
	font-size:				12pt;
}
h2.inline {
	display:				inline-block;
}

#noscript {
	position: 				absolute;
	top: 					35%;
	left:					50%;
	width: 					400px;
	
	margin-left:			-200px;
	padding:				20px;
	
	background:				#f9f9f9;
		
	border-color: 			#333;
	border-radius: 			8px;
	
	box-shadow: 			0 0 15px rgba(0, 0, 0, 0.40);
	
	text-align:				center;
}
#noscript h1 {
	margin:					0px;
	
	color:					#a22;
	font-size:				16pt;
}


/*
 *	navigation - clock
 */
#clock li {
	display:inline;
}


/*
 *	svents table
 */
table#events {
  border:                 1px #ddd solid;
  width:                  100%;
  border-collapse:        collapse;
  
  font-size:              10pt;
}

table#events tr#first th {
  border-top:             1px #ddd solid;
}
table#events th {
  background-color:       #F6F6F6;
  border-top:             1px #999999 solid;
  border-bottom:          1px #999999 solid;
  height: 2em;
}

table#events tr:hover {
	  background-color:       #eee;
}

table#events td {
  border-bottom:          1px #999999 dashed;
  padding: 1px 8px;
}

.color_debug {
	background: #d3d7cf;
}
.color_info {
	background: #3465a4;
}
.color_notice {
	background: #4e9a06;
}
.color_warning {
	background: #edd400;
}
.color_err {
	background: #f57900;
}
.color_crit {
	background: #ef2929;
}
.color_emerge {
	background: #cc0000;
}
.color_alert {
	background: #a40000;
}

table#events td a {
	color: #000;
  	text-decoration: none;
}
table#events td a:hover {
  	color: #39b;
}
table#events td#noresults {
  	line-height: 50px;
  	text-align: center;
}

/*
 *	filter input elements
 *
table#events input[type="text"] {
	margin-bottom: 2px;
}

th#column_time {
	width:							160px;
	overflow:						hidden;
}
th#column_host {
	width:							140px;
	overflow:						hidden;
}
th#column_facility,
th#column_severity {
	width:							110px;
	overflow:						hidden;
}
th#column_program {
	width:							120px;
	overflow:						hidden;
}

input#filter_time {
	width:							136px;
	padding-right: 					5px;
}
input#filter_host {
	width:							116px;
	padding-right: 					5px;
}
input#filter_facility,
input#filter_severity {
	width:							86px;
	padding-right: 					5px;
}
input#filter_program {
	width:							96px;
	padding-right: 					5px;
}
input#filter_message {
	padding-right: 					5px;
}
*/




/*
 * eventlist navigation
 */
#navi {
	padding-bottom: 		15px;
	padding-right: 			10px;
	text-align: 			right;
}

span#eventcount {
	color: 					#333333;
	font-size:				12px;
	text-decoration: 		none;
	padding-top: 			-10px;
	vertical-align: 		middle;
}



/*
 * tooltip event layout
 */
#tooltip_event td,
#tooltip_event th {
	vertical-align: top;
	clear: both;
}
#tooltip_event th {
	padding-right: 15px;
	white-space: nowrap;
}

#tooltip_event td span#text {
	display: none;
}
#tooltip_event td span#google_image {
	background-image: url('/static/img/google.png');
	width: 16px;
	height: 16px;
	margin-left: 5px;
	display: block;
	float: right;
}
#tooltip_event td span#google_image:hover {
	background-image: url('/static/img/google_hover.png');
	width: 16px;
	height: 16px;
}
#tooltip_event td span#link_image {
	background-image: url('/static/img/link.png');
	width: 16px;
	height: 16px;
	margin-left: 5px;
	display: block;
	float: right;
}
#tooltip_event td span#link_image:hover {
	background-image: url('/static/img/link_hover.png');
	width: 16px;
	height: 16px;
}
#tooltip_event td.spacing {
	line-height: 2px;
}



/*
 *	loading icon
 */
#loading {
	position: absolute;
	top: 45%;
	left: 50%;

	width: 32px;
	height: 32px;

	margin-left: -16px;

	background: transparent;
	background-image: url('/static/img/ajax-loader.gif');
}

/*
 *	flot tooltips
 */
#flotTip {
	background:					#555;
	color:						#eee;
	padding: 					3px;

	border:						1px solid #444;
	border-radius: 				6px;
}

/*
 *	chart
 */
#chartdiv #zoombutton {
    position: 					absolute;
    top:						5px;
    right:						3px;
    padding: 					2px;
    z-index:					99;

    background-color: 			#eee;
    color:	 					#999;

    cursor: 					default;
    font-size: 					smaller;
}















/*
 *	overview
 */
#dashboard {
	padding:					0 15px;
}

.dashwidget {
	background:					#fff;
	
	border:						1px solid #ccc;
	border-radius: 				6px;
}
.dashpadded {
	padding:					10px;
}
.row-fluid-padded {
	padding-bottom:				20px;
}

table th.count,
table td.count {
	text-align: 				right;
	padding-left: 				20px;
}
