/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
.flip-container.rotated .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

