<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>pyLogView &gt;&gt; {% block title %}{% endblock %}</title>
    <meta name="description" content="PyLogView - A next-generation syslog viewer" />
    <meta name="keywords" content="pyLogView, Syslog, Viewer, rsyslog, syslog-ng, python, web 2.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/nv.d3.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.qtip.css" />

    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/js/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/knockout.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/d3.v2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/nv.d3.min.js"></script>

    <script language="javascript" type="text/javascript" src="/static/js/jquery.clock.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.humanize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/construct.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>

    <script language="javascript" type="text/javascript" src="/static/js/defaults.js"></script>
    
		<script type="text/javascript">
			var piecolors = ['#a40000','#204a87', '#4e9a06', '#ce5c00'];
	
			function add_qtips() {
				$('.q_tip').qtip({
					content: {
						attr: 'title'
					},
					position: {
		 				my: 'top center',
		 				at: 'bottom center'
		 			},
		 			style: {
		 				classes: 'ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded'
		 			}
				});
			}
		</script>
	</head>
	
	<body>
		<noscript>
			{% include 'noscript.html' %}
		</noscript>
		
		<div id="menu">
			{% include 'menu.html' %}
		</div>
		
		<div id="main">
			{% block content %}
			{% endblock %}
		</div>
		
		{% block scripts %}
		{% endblock %}
	</body>
</html>