<!DOCTYPE html>
<html>
<body>
	
{% set event_count = events.get_count() %}
{% set maxpages = (event_count / pagesize)|round(0, 'ceil')|int %}
{% set event_first = (page * pagesize + 1) %}
{% if (page * pagesize + pagesize) > event_count %}
	{% set event_last = event_count %}
{% else %}
	{% set event_last = page * pagesize + pagesize %}
{% endif %}

	<div id="navi">
		<div class="buttons">
			<span id="count">
			{% if event_count > 0 %}
				{{event_first}} - {{event_last}} of {% if event_count < 10000 %} {{event_count}} {% else %}<span class="q_tip" title="{{event_count}} events">quite a few</span>{% endif %}
			{% else %}
				No Results
			{% endif %}
			</span> &nbsp;
			<a href="#" class="button"><input type="checkbox" name="autorefresh" /> Refresh</a>
			<a href="javascript:void(0);" class="button q_tip" id="zoomoutbutton" title="Zoom out to a wider timerange">Zoom Out</a>
			<a class="button left q_tip" title="Newer" href="javascript:void(0);" {% if page > 0 %}onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page - 1}}'); updateAction();"{%endif%}>Prev</a><a class="button right q_tip" title="Older" {% if page + 1 < maxpages %}onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page + 1}}'); updateAction();"{% endif %}>Next</a>
		</div>
	</div>
	
	<table>
		<tbody id="tbody">
	{% if event_count > 0 %}
		{% for event in events.get_rows(page * pagesize, pagesize) %}
			<tr>
				<td class="event" id="{{ event.id }}">{{ event.reported_time }}</td>
				<td class="event" id="{{ event.id }}"><a href="javascript:void(0)" onclick="$('#filter_host').val($(this).html()); updateAction();">{{ event.host }}</a></td>
				<td class="event color_{{ event.level }}" id="{{ event.id }}"><a href="javascript:void(0)" onclick="$('#filter_facility').val($(this).html()); updateAction();">{{ event.facility }}</a></td>
				<td class="event" id="{{ event.id }}"><a href="javascript:void(0)" onclick="$('#filter_severity').val($(this).html()); updateAction();">{{ event.severity }}</a></td>
				<td class="event" id="{{ event.id }}"><a href="javascript:void(0)" onclick="$('#filter_program').val($(this).html()); updateAction();">{{ event.program }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_message').val($(this).html()); updateAction();">{{ event.message }}</a></td>
			</tr>
		{% endfor %}
		
	{% else %}
			<tr>
				<td colspan="6" id="noresults">No events found.</td>
			</tr>

	{% endif %}
		</tbody>
	</table>
</body>
</html>
