	{% if events.get_count() > 0 %}
		{% set maxpages = (events.get_count() / pagesize)|round(0, 'ceil')|int %}
		
		{% for event in events.get_rows(page * pagesize, pagesize) %}
			<tr>
				<td>{{ event.reported_time }}</td>
				<td><a href="javascript:void(0)" onclick="$('#filter_host').val($(this).html()); $('#filterform').submit();">{{ event.host }}</a></td>
				<td class="color_{{ event.level }}"><a href="javascript:void(0)" onclick="$('#filter_facility').val($(this).html()); $('#filterform').submit();">{{ event.facility }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_severity').val($(this).html()); $('#filterform').submit();">{{ event.severity }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_tag').val($(this).html()); $('#filterform').submit();">{{ event.tag }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_program').val($(this).html()); $('#filterform').submit();">{{ event.program }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_message').val($(this).html()); $('#filterform').submit();">{{ event.message }}</a></td>
			</tr>
		{% endfor %}

			<tr>
				<td colspan="7" id="pagenav">
					<span class="arrow">{% if page > 0 %}<a href="javascript:void(0);" onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page - 1}}'); $('#filterform').submit();">&larr;</a>{% endif %}</span>
					[ {{ page + 1 }} / {{ maxpages }} ]
					<span class="arrow">{% if page + 1 < maxpages %}<a href="javascript:void(0);" onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page + 1}}'); $('#filterform').submit();">&rarr;</a>{% endif %}</span>
				</td>
			</tr>
		
	{% else %}
			<tr>
				<td colspan="7" id="noresults">No events found.</td>
			</tr>

			<tr>
				<td colspan="7" id="pagenav">
					[0 / 0]
				</td>
			</tr>
	{% endif %}
