<!DOCTYPE html>
<html>
<body>
	
{% set event_count = events.get_count() %}
{% set maxpages = (event_count / pagesize)|round(0, 'ceil')|int %}
{% set event_first = (page * pagesize + 1) %}
{% if (page * pagesize + pagesize) > event_count %}
	{% set event_last = event_count %}
{% else %}
	{% set event_last = page * pagesize + pagesize %}
{% endif %}

	<div id="navi">
		<div class="buttons">
			<span id="count">
			{% if event_count > 0 %}
				{{event_first}} - {{event_last}} of {% if event_count < 10000 %} {{event_count}} {% else %}quite a few{% endif %}
			{% else %}
				No Results
			{% endif %}
			</span> &nbsp;
			<a href="#" class="button"><input type="checkbox" name="autorefresh" /> Refresh</a>
			<a class="button left" href="javascript:void(0);" {% if page > 0 %}onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page - 1}}'); $('#filterform').submit();"{%endif%}>Prev</a><a class="button right" {% if page + 1 < maxpages %}onclick="$('#filterform').get(0).setAttribute('action', '/events/filter?page={{page + 1}}'); $('#filterform').submit();"{% endif %}>Next</a>
		</div>
	</div>
	
	<table>
		<tbody id="tbody">
	{% if event_count > 0 %}
		{% for event in events.get_rows(page * pagesize, pagesize) %}
			<tr>
				<td>{{ event.reported_time }}</td>
				<td><a href="javascript:void(0)" onclick="$('#filter_host').val($(this).html()); $('#filterform').submit();">{{ event.host }}</a></td>
				<td class="color_{{ event.level }}"><a href="javascript:void(0)" onclick="$('#filter_facility').val($(this).html()); $('#filterform').submit();">{{ event.facility }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_severity').val($(this).html()); $('#filterform').submit();">{{ event.severity }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_tag').val($(this).html()); $('#filterform').submit();">{{ event.tag }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_program').val($(this).html()); $('#filterform').submit();">{{ event.program }}</a></td>
				<td><a href="javascript:void(0)" onclick="$('#filter_message').val($(this).html()); $('#filterform').submit();">{{ event.message }}</a></td>
			</tr>
		{% endfor %}
		
	{% else %}
			<tr>
				<td colspan="7" id="noresults">No events found.</td>
			</tr>

	{% endif %}
		</tbody>
	</table>
</body>
</html>
