{% extends "base.html" %}

{% set maxpages = (events.get_count() / pagesize)|round(0, 'ceil')|int %}

{% block title %}Events{% endblock %}

{% block content %}

	<form action="/events/filter" method="post" id="filterform">
	<table id="events">
        <thead>
			<tr>
				<th width="157">time_logged</th>
				<th>host</th>
				<th>facility</th>
				<th>severity</th>
				<th>program</th>
				<th width="40%">message</th>
			</tr>
			<tr>
				<th><input type="text" name="filter_time" id="filter_time" placeholder="filter" size="5" /></th>
				<th><input type="text" name="filter_host" id="filter_host" placeholder="filter" size="5" /></th>
				<th><input type="text" name="filter_facility" id="filter_facility" placeholder="filter" size="5" /></th>
				<th><input type="text" name="filter_severity" id="filter_severity" placeholder="filter" size="5" /></th>
				<th><input type="text" name="filter_program" id="filter_program" placeholder="filter" size="5" /></th>
				<th><input type="text" name="filter_message" id="filter_message" placeholder="filter" size="5" /></th>
			</tr>
		</thead>
		
		<tbody id="tbody">
		{% include 'eventlist.ajax.html' %}
		</tbody>
		
	</table>
	</form>

	<script>
		$('#filterform').submit(function (event) {
	        event.preventDefault();
	        
	        var $form = $(this),
	            host = $form.find('input[name="filter_host"]').val(),
	            facility = $form.find('input[name="filter_facility"]').val(),
	            severity = $form.find('input[name="filter_severity"]').val(),
	            program = $form.find('input[name="filter_program"]').val(),
	            message = $form.find('input[name="filter_message"]').val(),
	            url = $form.attr('action');
	
			$.post(url, { 
					host: host, 
					facility : facility,
					severity: severity,
					program: program,
					message: message 
				}, 
				function(data) {
				    var body_content = $(data);
				    $('#tbody').empty().append(body_content);
				    $('html, body').animate({scrollTop:0}, 'fast');
		
					set_tooltips();
				});
		});
	
		$('#filterform').bind('keyup', function() {
		    $('#filterform').submit();
		});
		
		set_tooltips();

		/*
		 * set the tooltip for each result row
		 */
		function set_tooltips() {
			$(".event").each(function() {
				$(this).qtip({
					content: {
						text: 'Loading...',
						ajax: {
							url: '/events/tooltip',
							type: 'GET',
							data: { event_id: this.id },
							success: function(data, status) {
								this.set('content.text', data);
							}
						}
					},
					position: {
						my: 'top left',
						at: 'bottom center'
					},
					hide: {
				        fixed: true,
						delay: 200
					},
					style: {
						classes: 'ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded'
					}
				});
			});
		}
	</script>
{% endblock %}