{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error_msg %}
<div class="row">
	<div class="span6 pull-center">
		<div class="alert alert-block">
			<a class="close" data-dismiss="alert" href="#">×</a>
			{{error_msg}}
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="span6 pull-center">
		<form class="well form-horizontal" method="post" action="/auth/login">
			<fieldset>
				<input type="hidden" name="from_page" value="{{from_page}}" />
				<legend>Please Login</legend>
				<div class="control-group">
					<label class="control-label" for="input_user">Username</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span><input type="text" class="input-large" id="input_user" name="username" value="{{username}}">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input_pass">Password</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span><input type="password" class="input-large" id="input_pass" name="password">
						</div>
					</div>
				</div>
				<br />
				<div class="form-actions">
					<button type="submit" class="btn btn-primary input-large"> &nbsp; Login &nbsp; </button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}