{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

<div id="dashboard">
	<div class="row-fluid row-fluid-padded">
	   	<div class="span6 dashwidget">
	    	<div class="span6 dashpadded">
				<h2>Events by Host</h2>
				<div id="events_by_host" style="height: 220px; width: 100%;"></div>
		    </div>
		    <div class="span6 dashpadded">
	  			<div class="clearfix">
	  				<h2 class="inline">TOP 5 Host</h2>
	  				<div class="btn-group inline pull-right" style="padding-top: 8px;">
					    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
					    	<span id="top_hosts_selector">last 24 hours</span>
					    	<span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
							<li><a href="javascript:void(0);" onclick="top_hosts('timerange=1');">show last day</a></li>
							<li><a href="javascript:void(0);" onclick="top_hosts('timerange=7');">show last week</a></li>
							<li><a href="javascript:void(0);" onclick="top_hosts('timerange=30');">show last month</a></li>
							<li><a href="javascript:void(0);" onclick="top_hosts('timerange=364');">show last year</a></li>
					    </ul>
				    </div>
				</div>
				<div id="top_hosts" style="height: 220px; width: 100%;"></div>
		    </div>
	   	</div>
	   	<div class="span6 dashwidget">
  			<div class="clearfix dashpadded" style="padding-bottom: 0px;">
				<h2 class="inline" style="padding-bottom: 10px;">Severity by Host</h2>
  				<div class="btn-group inline pull-right" style="padding-top: 8px;">
				    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
				   		<span id="severity_by_host_selector">Host: all</span>
				    	<span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu" id="severity_by_host_menu"></ul>
			    </div>
			</div>
	   		<div class="row-fluid">
			    <div class="span6 dashpadded">
					<table id="stats_count">
						<tr><th>Number of Events</th><th id="count_events_sum" class="count"></th></tr>
						<tr><td>&nbsp; Emergency</td><td id="count_events_emergency" class="count"></td></tr>
						<tr><td>&nbsp; Critical</td><td id="count_events_critical" class="count"></td></tr>
						<tr><td>&nbsp; Error</td><td id="count_events_error" class="count"></td></tr>
						<tr><td>&nbsp; Warning</td><td id="count_events_warning" class="count"></td></tr>
						<tr><td>&nbsp; Notice</td><td id="count_events_notice" class="count"></td></tr>
						<tr><td>&nbsp; Informational</td><td id="count_events_informational" class="count"></td></tr>
						<tr><td>&nbsp; Debug</td><td id="count_events_debug" class="count"></td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr><th>Number of Hosts</th><th id="count_hosts" class="count"></th></tr>
					</table>
				</div>
			    <div class="span6 dashpadded">
					<div id="severity_by_host" style="height: 220px; width: 100%;"></div>
				</div>
			</div>
	    </div>
	</div>
	   
	<div class="row-fluid row-fluid-padded">
		<div class="span6 dashwidget">
  			<div class="clearfix dashpadded">
				<h2 class="inline">Latest events </h2>
  				<div class="btn-group inline pull-right" style="padding-top: 8px;">
				    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
				   		<span id="new_events_selector">Severity: all</span>
				    	<span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
						<li><a href="javascript:void(0);" onclick="new_events_filter = 1; new_events();">Alert and above</a></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 2; new_events();">Critical and above</a></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 3; new_events();">Error and above</a></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 4; new_events();">Warning and above</a></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 5; new_events();">Notice and above</a></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 6; new_events();">Informational and above</a></li>
						<li class="divider"></li>
						<li><a href="javascript:void(0);" onclick="new_events_filter = 7; new_events();">All severities</a></li>
				    </ul>
			    </div>
			</div>
			<table id="events" style="font-size: 8pt;">
			    <thead>
					<tr id="first">
						<th></th>
						<th width="110">Time</th>
						<th width="90">Host</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody id="tbody_content">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6">
		</div>
	</div>
</div>

<script>
	var piecolors = ['#a40000','#204a87', '#4e9a06', '#ce5c00'];
	var new_events_filter = 7;
	
	function events_by_host() {
	    $.ajax({
	        url: "/overview/events_by_host",
	        dataType: 'json', 
	        success: function(d) {
	        	data = []
		    	for (var i = 0; i < d.length; i++) {
		    		data[i] = { label: d[i]['host'], data: d[i]['count'], color: piecolors[i] }
		    	}
		    	$.plot($('#events_by_host'), data, {
		    		series: {
		    		    pie: {
		    		        show: true,
		    	            radius: 0.92,
		    	            combine: {
		    	                color: '#2e3436',
		    	                threshold: 0.1
		    	            },
		    	            stroke: {
		    	            	color: '#ccc'
		    	            },
		    				label: {
		    				    show: true,
		    				    radius: 3/4,
		    				    formatter: function(label, series) {
		    	                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>'
		    				    }
		    				}
		    		    }
		    		},
		    	    legend: {
		    	        show: false
		    	    },
		    	    grid: {
		    	        hoverable: true
		    	    }
		    	}).resize();
		    }
	    });
	}
	
	
	function top_hosts(timerange) {
	    $.ajax({
	        url: "/overview/top_hosts",
	        method: 'POST',
	        data: timerange,
	        dataType: 'json', 
	        success: function(d) {
		    	data = []
		    	tick = []
		    	for (var i = 0; i < d.data.length; i++) {
		    		data.push([i, parseInt(d.data[i]['count'])]);
		    		tick.push([i, d.data[i]['host']]);
		    	}
		    	$('#top_hosts_selector').empty().append(function() {
		    		if (d.metadata['timerange'] == 1) {
		    			text = 'last 24 hours';
		    		} else {
		    			text = 'last ' + d.metadata['timerange'] + ' days';
		    		}
		    		return text;
		    	});
				$.plot($('#top_hosts'), [data], {
					xaxis: {
						ticks: tick,
						rotateTicks: 50
					},
					bars: {
					      show: true,
					      lineWidth: 1,
				          align: "center",
				          barWidth: 0.6,
					      fill: true,
					      fillColor: { colors: ["#729fcf", "#3465af"] }
					},
				    legend: {
				        show: false
				    },
					grid: { 
						hoverable: true, 
                        clickable: true,
						autoHighlight: true 
					},
					tooltip: true,
					tooltipOpts: {
						content: "%y",
						defaultTheme:  false
					},
					colors: ["#204a87"],
				}).resize();
				
				$("#top_hosts").bind("plotclick", function (event, pos, item) {
					if (item) {
						$(location).attr('href', '/events?host=' + tick[item.dataIndex][1]);
					}
				});
		    }
	    });
	}
	
	function new_events() {
		$.ajax({
			url: "/overview/new_events",
			method: 'POST',
	        data: {'filter': new_events_filter},
			dataType: 'json',
			beforeSend: function(){
				$("#loading").show();
			},
			success: function(d) {
		    	$('#new_events_selector').empty().append(function() {
		    		if (new_events_filter == 7) {
		    			text = 'Severity: all';
		    		} else if (new_events_filter == 6) {
		    			text = 'Severity: info and above';
		    		} else if (new_events_filter == 5) {
		    			text = 'Severity: notice and above';
		    		} else if (new_events_filter == 4) {
		    			text = 'Severity: warning and above';
		    		} else if (new_events_filter == 3) {
		    			text = 'Severity: error and above';
		    		} else if (new_events_filter == 2) {
		    			text = 'Severity: critical and above';
		    		} else if (new_events_filter == 1) {
		    			text = 'Severity: alert and above';
		    		}
		    		return text;
		    	});
		    	
				var rows = ""
				if (d.length > 0) {
					for (var i = 0; i < d.length; i++) {
						var object = d[i];
						var shortMessage = $.trim(object['message']).substring(0, 50)
						if (object['message'].length > 50) shortMessage += " ...";
						rows += '<tr>';
						rows += '<td><span class="badge color_' + object['severity'] + '" id="' + object['id'] + '"></span></td>'
						rows += '<td class="event" id="' + object['id'] + '">' + object['reported_time'] + '</td>';
						rows += '<td class="event" id="' + object['id'] + '">' + object['host'] + '</td>';
						rows += '<td class="event q_tip" id="' + object['id'] + '" title="' + object['message'] + '">' + shortMessage + '</td>';
						rows += '</tr>';
					}
				} else {
					rows = '<tr><td colspan="6" id="noresults">No events found.</td></tr>'
				}
				$('#tbody_content').empty().append(rows);
				$('.q_tip').qtip({
					content: {
						attr: 'title'
					},
					position: {
		 				my: 'top center',
		 				at: 'bottom center'
		 			},
		 			style: {
		 				classes: 'ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded'
		 			}
				});
			}
		});
	}
	
	
	function severity_by_host(host) {
		if (host == null) host = ""
		$.ajax({
			url: "/overview/severity_by_host",
			method: 'POST',
			data: {'host': host},
			dataType: 'json',
			beforeSend: function(){
				$("#loading").show();
			},
			success: function(d) {
				var rows = "";
				rows += '<li><a href="javascript:void(0);" onclick="severity_by_host(null)">All hosts</a></li>';
				rows += '<li class="divider"></li>';
				for (var i = 0; i < d.hosts.length; i++) {
					rows += '<li><a href="javascript:void(0);" onclick="severity_by_host(\'' + d.hosts[i]['host'] + '\');">' + d.hosts[i]['host'] + '</a></li>';
				}
				$('#severity_by_host_menu').empty().append(rows);
				h = ((host == "") ? "all" : host)
				$('#severity_by_host_selector').empty().append('Host: ' + h);
				
	        	var data = [];
	        	var i = 0;
		    	for (s in d.count_severity) {
		    		console.log(d.count_severity[s])
		    		if (s != "sum") {
		    			data[i] = { label: s, data: d.count_severity[s], color: piecolors[i] }
		    			i++;
		    		}
		    	}
		    	$.plot($('#severity_by_host'), data, {
		    		series: {
		    		    pie: {
		    		        show: true,
		    	            radius: 0.92,
		    	            combine: {
		    	                color: '#2e3436',
		    	                threshold: 0.1
		    	            },
		    	            stroke: {
		    	            	color: '#ccc'
		    	            },
		    				label: {
		    				    show: true,
		    				    radius: 3/4,
		    				    formatter: function(label, series) {
		    	                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>'
		    				    }
		    				}
		    		    }
		    		},
		    	    legend: {
		    	        show: false
		    	    },
		    	    grid: {
		    	        hoverable: true
		    	    }
		    	}).resize();
	        	
				$('#count_events_sum').empty().append(d.count_severity['sum']);
				$('#count_events_emergency').empty().append(d.count_severity['alert']);
				$('#count_events_critical').empty().append(d.count_severity['crit']);
				$('#count_events_error').empty().append(d.count_severity['err']);
				$('#count_events_warning').empty().append(d.count_severity['warning']);
				$('#count_events_notice').empty().append(d.count_severity['notice']);
				$('#count_events_informational').empty().append(d.count_severity['info']);
				$('#count_events_debug').empty().append(d.count_severity['debug']);
			}
		});
	}
	
	events_by_host();
	top_hosts(1);
	new_events();
	severity_by_host(null);
	
	setInterval(new_events, 5000); 
</script>

{% endblock %}