<table id="tooltip_ip">
  <tr>
    <th>IP Address</th>
    <td>{{ data.ip }}</td>
  </tr>
  <tr>
    <th>DNS Name</th>
    <td>{{ data.dns }}</td>
  </tr>
{% if data.aliaslist != "" or data.addresslist != "" %}
  <tr><td class="spacing">&nbsp;</td></tr>
{% endif %}
{% if data.aliaslist != "" %}
  <tr>
    <th>Aliases</th>
    <td>{{ data.aliaslist }}</td>
  </tr>
{% endif %}
{% if data.addresslist != "" %}
  <tr>
    <th>Addresses</th>
    <td>{{ data.addresslist }}</td>
  </tr>
{% endif %}
  <tr><td class="spacing">&nbsp;</td></tr>
  <tr>
    <th>Country</th>
    <td>{{ data.country }} <img src="/static/img/flags/{{data.flagimg}}.gif" title="{{ data.country }}" alt="{{ data.country }}"/></td>
  </tr>
</table>

