<!-- topseverity widget -->

<div class="clearfix dashpadded" style="padding-bottom: 0px;">
	<h2 class="inline" style="padding-bottom: 10px;">Severity by Host</h2>
			<div class="btn-group inline pull-right" style="padding-top: 8px;">
	    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
	   		<span data-bind="text: hostSelected() || 'all hosts'"></span>
	    	<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
        <!-- ko if: hosts().length -->
          <!-- ko foreach: hosts -->
            <li><a href="javascript:void(0);" data-bind="text: $data, click: $root.hostSelected"></a></li>
          <!-- /ko --> 
          <li class="divider"></li>
          <li><a href="javascript:void(0);" data-bind="click: $root.hostSelected.bind($data, null)">all hosts</a></li>
        <!-- /ko -->
        
        <!--  ko ifnot: hosts().length -->
          <li>No hosts found</li>
        <!-- /ko -->
      </ul>
    </div>
</div>

<div class="row-fluid">
  <div class="span6 dashpadded">
		<table>
			<tr><th>Number of Events    </th><th class="count"></th></tr>
			<tr><td>&nbsp; Emergency    </td><td class="count" data-bind="text: severities['0']"></td></tr>
      <tr><td>&nbsp; Alert        </td><td class="count" data-bind="text: severities['1']"></td></tr>
			<tr><td>&nbsp; Critical     </td><td class="count" data-bind="text: severities['2']"></td></tr>
			<tr><td>&nbsp; Error        </td><td class="count" data-bind="text: severities['3']"></td></tr>
			<tr><td>&nbsp; Warning      </td><td class="count" data-bind="text: severities['4']"></td></tr>
			<tr><td>&nbsp; Notice       </td><td class="count" data-bind="text: severities['5']"></td></tr>
			<tr><td>&nbsp; Informational</td><td class="count" data-bind="text: severities['6']"></td></tr>
			<tr><td>&nbsp; Debug        </td><td class="count" data-bind="text: severities['7']"></td></tr>
		</table>
	</div>
  <div class="span6 dashpadded">
		<div id="topseverity" style="height: 220px; width: 100%;"><svg></svg></div>
	</div>
</div>

<script type="text/javascript" src="/static/js/widget.topseverity.js"></script>
