<!-- widget.eventlist -->
<div class="clearfix dashpadded">
	<h2 class="inline">Latest events </h2>
	<div class="btn-group inline pull-right" style="padding-top: 8px;">
	    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
	   		<span id="new_events_selector">Severity: all</span>
	    	<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
			<li><a href="javascript:void(0);" onclick="new_events_filter = 1; new_events();">Alert and above</a></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 2; new_events();">Critical and above</a></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 3; new_events();">Error and above</a></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 4; new_events();">Warning and above</a></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 5; new_events();">Notice and above</a></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 6; new_events();">Informational and above</a></li>
			<li class="divider"></li>
			<li><a href="javascript:void(0);" onclick="new_events_filter = 7; new_events();">All severities</a></li>
	    </ul>
    </div>
</div>
<table id="events" style="font-size: 8pt;">
    <thead>
		<tr id="first">
			<th></th>
			<th width="110">Time</th>
			<th width="90">Host</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody id="tbody_content">
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">//<![CDATA[
	var new_events_filter = 7;
	
	function new_events() {
		$.ajax({
			url: "/overview/new_events",
			method: 'POST',
	        data: {'filters': new_events_filter},
			dataType: 'json',
			beforeSend: function(){
				$("#loading").show();
			},
			success: function(d) {
		    	$('#new_events_selector').empty().append(function() {
		    		if (new_events_filter == 7) {
		    			text = 'Severity: all';
		    		} else if (new_events_filter == 6) {
		    			text = 'Severity: info and above';
		    		} else if (new_events_filter == 5) {
		    			text = 'Severity: notice and above';
		    		} else if (new_events_filter == 4) {
		    			text = 'Severity: warning and above';
		    		} else if (new_events_filter == 3) {
		    			text = 'Severity: error and above';
		    		} else if (new_events_filter == 2) {
		    			text = 'Severity: critical and above';
		    		} else if (new_events_filter == 1) {
		    			text = 'Severity: alert and above';
		    		}
		    		return text;
		    	});
		    	
				var rows = ""
				if (d.length > 0) {
					for (var i = 0; i < d.length; i++) {
						var object = d[i];
						var shortMessage = $.trim(object['message']).substring(0, 50)
						if (object['message'].length > 50) shortMessage += " ...";
						rows += '<tr>';
						rows += '<td style="text-align: center"><span class="badge q_tip color_' + object['severity'] + '" id="' + object['id'] + '" title="Severity: ' + object['severity'] + '"></span></td>'
						rows += '<td class="event" id="' + object['id'] + '">' + object['reported_time'] + '</td>';
						rows += '<td class="event" id="' + object['id'] + '">' + object['host'] + '</td>';
						rows += '<td class="event q_tip" id="' + object['id'] + '" title="' + object['message'] + '">' + shortMessage + '</td>';
						rows += '</tr>';
					}
				} else {
					rows = '<tr><td colspan="6" id="noresults">No events found.</td></tr>'
				}
				$('#tbody_content').empty().append(rows);
				$('.q_tip').qtip({
					content: {
						attr: 'title'
					},
					position: {
		 				my: 'top center',
		 				at: 'bottom center'
		 			},
		 			style: {
		 				classes: 'ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded'
		 			}
				});
			}
		});
	}

	new_events()
	setInterval(new_events, 5000);

//]]></script>
	