<!-- widget.latestevents -->

<div class="row-fluid dashwidget" id="widget_latestevents">
    <div class="clearfix dashpadded">
    	<h2 class="inline">Latest events</h2>
    	<div class="btn-group inline pull-right" style="padding-top: 8px;">
    	    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
    	   		<span id="new_events_selector" data-bind="text: severitySelectedLabel"></span>
    	    	<span class="caret"></span>
    	    </a>
    	    <ul class="dropdown-menu">
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 1)">Alert and above</a></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 2)">Critical and above</a></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 3)">Error and above</a></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 4)">Warning and above</a></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 5)">Notice and above</a></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 6)">Info and above</a></li>
    			<li class="divider"></li>
    			<li><a href="javascript:void(0);" data-bind="click: update.bind($data, 7)">All severities</a></li>
    	    </ul>
        </div>
    </div>
    
    <table id="events" style="font-size: 8pt; table-layout: fixed;">
      <thead>
    		<tr id="first">
    			<th width="30">&nbsp;</th>
    			<th width="90">Time</th>
    			<th width="80">Host</th>
    			<th>Message</th>
    		</tr>
    	</thead>
    	<tbody id="tbody_content">
        <!-- ko foreach: events -->
          <tr>
            <td class="column_badge">
              <span data-bind="css: {
                  color_emerge: severity == 0,
                  color_alert: severity == 1,
                  color_critical: severity == 2,
                  color_error: severity == 3,
                  color_warning: severity == 4,
                  color_notice: severity == 5,
                  color_info: severity == 6,
                  color_debug: severity == 7
                }" class="badge q_tip">&nbsp;</span>
            </td>
            <td class="event" data-bind="text: time"></td>
            <td class="event" data-bind="text: host"></td>
            <td class="event" data-bind="text: message, attr: { title: message }" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></td>
          </tr>
        <!-- /ko -->
        
        <!--  ko ifnot: events().length -->
          <tr><td colspan="4" id="noresults">No Events</td></tr>
        <!-- /ko -->
    	</tbody>
    </table>
</div>

<script type="text/javascript" src="/static/js/widget.latestevents.js"></script>
	